#editor-container {
  background: #ffffff;
  font-family: sans-serif;
  border-radius: 0.5em;
  max-width: 8.5in;
}

#container {
  height: 70vh;
}
.ql-editor {
  height: 88%;
}


.ql-tooltip.ql-editing {
  margin-left: 80px;
}

.ql-editor.ql-blank {
  height: 60vh;
  background: white;
}


.ql-toolbar.ql-snow {
  height: 80px;
}


.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.ql-snow.ql-toolbar {
  display: block;
  background: #feffff;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

